<div class="todos">
  <ul class="todo-list">
    <!-- <li class="li" *ngFor="let item of tasks">
      <input class="form-check-input" type="checkbox" value="option1" />
      <label class="form-check-label" for="inlineCheckbox1"></label>
      <span class="todo-text">text</span>
      <span class="todo-text">date</span>
      <span class="span-button"><i class="fa-solid fa-trash"></i></span>
      <span class="span-button"><i class="fa-solid fa-pen"></i></span>
    </li> -->
  </ul>
  <!--       
        <img class="face" src="asetes/thinking.png" alt="">
        <h1 class="not-found"> NOT FOUND</h1> -->
</div>
