<div
  class="task"
  [ngStyle]="{
    'text-decoration-line': task.isDone ? 'line-through' : 'none'
  }"
>
  <div class="section-title-task">
    <span class="todo-text">{{ task.title }}</span>
    <span class="todo-date">{{ task.createdAt }}</span>
  </div>

  <div class="actions">
    <!-- <input
              class="form-check-input"
              type="checkbox"
              (click)="markTaskAsDone(task.id)"
              [defaultChecked]="task.isDone"
            /> -->
    <img
      (click)="markTaskAsDone(task.id)"
      *ngIf="!task?.isDone"
      src="../assets/icons/circle.svg"
      alt=""
    />
    <img
      (click)="markTaskAsDone(task.id)"
      *ngIf="task?.isDone"
      src="../assets/icons/done-icon.svg"
      alt=""
    />
    <span class="delete-button" (click)="editTask(task.id)">
      <img src="../assets/icons/edit.svg" alt="" />
    </span>
    <span class="delete-button" (click)="deleteTask(task.id)">
      <img src="../assets/icons/delete.svg" alt="" />
    </span>
  </div>
</div>
