.todo {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  // font-family: "lato", "arial", sans-serif;
  font-family: Inter;
  @media (max-width: 1000px) {
    flex-direction: column;
  }

  .title {
    color: #007fdb;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .todo-app {
    max-width: 430px;
    // height: 202px;
    border-radius: 10px;
    background: #fff !important;
    .banner {
      position: relative;
      width: 100%;
      margin-bottom: 23px;

      img {
        width: 100%;
        height: 202px;
      }
      .date {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 10px;
        bottom: 20px;
        justify-content: center;

        .day {
          color: #fff;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin: 0;
          padding: 0;
        }
        .time {
          color: #fff;
          font-size: 48px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin: 0;
          padding: 0;
        }
      }
    }

    .form-section {
      // width: 100%;
      padding: 0 25px 25px 25px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      .input-section {
        width: 100%;
        display: flex;
        gap: 15px;
      }
      .todo-input {
        width: 100%;
        display: flex;
        padding: 10px 12px;
        align-items: center;
        gap: 10px;
        flex: 1 0 0;
        align-self: stretch;

        display: flex;
        padding: 10px 12px;
        align-items: center;
        gap: 10px;
        flex: 1 0 0;
        align-self: stretch;
        border-radius: 5px;
        background: #ebeff2;
        border: none;
      }
      .btn {
        display: flex;
        width: 88px;
        padding: 10px;
        justify-content: center;
        align-items: center;
        gap: 11px;
        flex-shrink: 0;
        align-self: stretch;
        border-radius: 5px;
        background: #20eeb0 !important;
        border: none;
        cursor: pointer;
        color: #fff;
        max-width: 50px;
      }
    }
    .todos {
      padding: 0 25px 25px 25px;
      .todo-list {
        display: flex;
        flex-direction: column;
        gap: 15px;

        .task {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .section-title-task {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            .todo-text {
              color: #0d0d0d;
              font-size: 18px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              font-family: Inter;
            }
            .todo-date {
              color: #888;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
          }
          .actions {
            display: flex;
            gap: 18px;
            align-items: center;
            img {
              cursor: pointer;
              width: 18px;
            }
            .form-check-input {
              border-radius: 50% !important;
              border: #20eeb0;
            }

            .delete-button {
              cursor: pointer;
              img {
                width: 18px;
              }
            }
          }
        }
      }
    }
  }
}
