<div class="todo-app">
  <div class="banner">
    <img src="../assets/images/banner.png" alt="" />
    <span class="date">
      <p class="day">{{ getCurrentTimeAndDay().day }}</p>
      <p class="time">{{ getCurrentTimeAndDay().time }}</p>
    </span>
  </div>
  <form class="form-section">
    <div class="input-section">
      <input
        type="text"
        class="todo-input"
        placeholder="Search"
        [(ngModel)]="strSearch"
        (ngModelChange)="searchTask()"
        [ngModelOptions]="{ standalone: true }"
      />
    </div>
    <div class="input-section">
      <input
        class="todo-input"
        type="text"
        placeholder="Note"
        #taskName
        [value]="isEditing && taskToEdit ? taskToEdit.title : ''"
      />
      <button
        class="btn"
        type="button"
        (click)="
          addTask({
            id: generateTaskId(),
            isDone: false,
            title: taskName.value,
            createdAt: getCurrentTimeAndDay().day + getCurrentTimeAndDay().time
          })
        "
      >
        <ng-container *ngIf="isEditing; else addIcon">
          <img src="../assets/icons/w-edit.svg" alt="" />
        </ng-container>
        <ng-template #addIcon>
          <img src="../assets/icons/add.svg" alt="" />
        </ng-template>
      </button>
    </div>
  </form>
  <div class="todos">
    <div class="todo-list">
      <app-task *ngFor="let task of tasks" [task]="task"></app-task>
    </div>
    <img class="face" src="asetes/thinking.png" alt="" />
  </div>
</div>
