<div class="todo-app">
  <div class="banner">
    <img src="../assets/images/banner.png" alt="" />
    <span class="date">
      <p class="day">{{ getCurrentTimeAndDay().day }}</p>
      <p class="time">{{ getCurrentTimeAndDay().time }}</p>
    </span>
  </div>
  <form class="form-section">
    <div class="input-section">
      <input
        type="text"
        class="todo-input"
        placeholder="Search"
        #strSearch
        (change)="searchTask(strSearch.value)"
      />
      <button type="button" class="btn" (click)="searchTask(strSearch.value)">
        <img src="../assets/icons/w-search.svg" alt="" />
      </button>
    </div>
    <div class="input-section">
      <input
        class="todo-input"
        type="text"
        placeholder="Note"
        #taskName
        [value]="isEditing && taskToEdit ? taskToEdit.title : ''"
      />
      <button
        class="btn"
        type="button"
        (click)="
          addTask({
            id: taskService.generateTaskId(),
            isDone: false,
            title: taskName.value,
            createdAt: getCurrentTimeAndDay().day + getCurrentTimeAndDay().time
          })
        "
      >
        <ng-container *ngIf="isEditing; else addIcon">
          <img src="../assets/icons/w-edit.svg" alt="" />
        </ng-container>
        <ng-template #addIcon>
          <img src="../assets/icons/add.svg" alt="" />
        </ng-template>
      </button>
    </div>
  </form>
  <div class="todos">
    <div class="todo-list">
      <div
        class="task"
        *ngFor="let task of tasks"
        [ngStyle]="{
          'text-decoration-line': task.isDone ? 'line-through' : 'none'
        }"
      >
        <div class="section-title-task">
          <span class="todo-text">{{ task.title }}</span>
          <span class="todo-date">{{ task.createdAt }}</span>
        </div>

        <div class="actions">
          <!-- <input
              class="form-check-input"
              type="checkbox"
              (click)="markTaskAsDone(task.id)"
              [defaultChecked]="task.isDone"
            /> -->
          <img
            (click)="taskService.markTaskAsDone(task.id)"
            *ngIf="!task.isDone"
            src="../assets/icons/circle.svg"
            alt=""
          />
          <img
            (click)="taskService.markTaskAsDone(task.id)"
            *ngIf="task.isDone"
            src="../assets/icons/done-icon.svg"
            alt=""
          />
          <span class="delete-button" (click)="editTask(task.id)">
            <img src="../assets/icons/edit.svg" alt="" />
          </span>
          <span class="delete-button" (click)="taskService.deleteTask(task.id)">
            <img src="../assets/icons/delete.svg" alt="" />
          </span>
        </div>
      </div>
    </div>
    <!--       
        <img class="face" src="asetes/thinking.png" alt="">
        <h1 class="not-found"> NOT FOUND</h1> -->
  </div>
</div>
